## Importing Libraries

In [5]:
import pandas as pd
import numpy as np

## EDA

### Importing and exploring de new dataframe:

In [6]:
df = pd.read_csv(r'C:\Users\pedro\OneDrive\Área de Trabalho\plane_crash\Plane Crashes.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28536 entries, 0 to 28535
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              28536 non-null  object
 1   Time              13949 non-null  object
 2   Aircraft          28535 non-null  object
 3   Operator          28536 non-null  object
 4   Registration      27721 non-null  object
 5   Flight phase      27898 non-null  object
 6   Flight type       28479 non-null  object
 7   Survivors         27239 non-null  object
 8   Crash site        28153 non-null  object
 9   Schedule          19590 non-null  object
 10  MSN               24354 non-null  object
 11  YOM               23225 non-null  float64
 12  Flight no.        0 non-null      float64
 13  Crash location    28524 non-null  object
 14  Country           28535 non-null  object
 15  Region            28535 non-null  object
 16  Crew on board     28512 non-null  float64
 17  Crew fatalities   28535 non-null  float64
 18  Pax on board      28482 non-null  float64
 19  PAX fatalities    28535 non-null  float64
 20  Other fatalities  28526 non-null  float64
 21  Total fatalities  28536 non-null  int64
 22  Circumstances     28511 non-null  object
 23  Crash cause       28536 non-null  object
dtypes: float64(7), int64(1), object(16)
memory usage: 5.2+ MB

In [8]:
df.head(3)

,Date,Time,Aircraft,Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,...,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
0,1918-05-02,NaN,De Havilland DH.4,United States Signal Corps - USSC,AS-32084,Takeoff (climb),Test,No,Airport (less than 10 km from airport),Dayton - Dayton,...,United States of America,North America,2.0,2.0,0.0,0.0,0.0,2,The single engine airplane departed Dayton-McC...,Technical failure
1,1918-06-08,NaN,Handley Page V/1500,Handley Page Aircraft Company Ltd,E4104,Takeoff (climb),Test,Yes,Airport (less than 10 km from airport),Cricklewood - Cricklewood,...,United Kingdom,Europe,6.0,5.0,0.0,0.0,0.0,5,"Assembled at Cricklewood Airfield in May 1918,...",Technical failure
2,1918-06-11,NaN,Avro 504,Royal Air Force - RAF,A8544,Flight,Training,Yes,"Plain, Valley",Abukir - Abukir,...,Egypt,Africa,2.0,1.0,0.0,0.0,0.0,1,The single engine aircraft was completing a lo...,Unknown

In [9]:
df.tail(3)

,Date,Time,Aircraft,Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,...,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
28533,2022-05-24,15H 40M 0S,De Havilland DHC-3 Otter,Yakutat Coastal Airlines,N703TH,Landing (descent or approach),Charter/Taxi (Non Scheduled Revenue Flight),Yes,Airport (less than 10 km from airport),Yakutat – Dry Bay,...,United States of America,North America,1.0,0.0,3.0,0.0,0.0,0,The single engine airplane departed Yakutat on...,Unknown
28534,2022-05-29,10H 7M 0S,De Havilland DHC-6 Twin Otter,Tara Air,9N-AET,Flight,Scheduled Revenue Flight,No,Mountains,Pokhara – Jomsom,...,Nepal,Asia,3.0,3.0,19.0,19.0,0.0,22,The twin engine airplane departed Pokhara City...,Human factor
28535,2022-06-03,13H 46M 0S,Cessna 208B Grand Caravan,GoJump Oceanside,N7581F,Landing (descent or approach),Skydiving / Paratroopers,Yes,Airport (less than 10 km from airport),Oceanside - Oceanside,...,United States of America,North America,1.0,0.0,1.0,1.0,0.0,1,The single engine was completing local skydivi...,Unknown

In [10]:
df.isnull()

,Date,Time,Aircraft,Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,...,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,True,True,...,False,False,True,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28531,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28532,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28533,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28534,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28535,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [14]:
df.columns

Index(['Date', 'Time', 'Aircraft', 'Operator', 'Registration', 'Flight phase',
       'Flight type', 'Survivors', 'Crash site', 'Schedule', 'MSN', 'YOM',
       'Flight no.', 'Crash location', 'Country', 'Region', 'Crew on board',
       'Crew fatalities', 'Pax on board', 'PAX fatalities', 'Other fatalities',
       'Total fatalities', 'Circumstances', 'Crash cause'],
      dtype='object')

### Drop columns that are not relevant:

In [19]:
df = df.drop(['MSN', 'YOM', 'Time','Registration', 'Schedule', 'Flight no.', 'Crash location','Crew on board',
       'Crew fatalities', 'Pax on board', 'PAX fatalities', 'Other fatalities','Circumstances'], axis=1)

In [21]:
df[['Total fatalities']]

       Total fatalities
0                     2
1                     5
2                     1
3                     1
4                     0
...                 ...
28531                 0
28532                 2
28533                 0
28534                22
28535                 1

[28536 rows x 1 columns]